<!DOCTYPE html>
<html lang="en">

<head>
      <title>DailyHire</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--=======================================  ICON  ==================================================-->
      <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
      <!--=======================================  FONT  ==================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
      <!--=======================================  BOOTSTRAP  =============================================-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
            rel="stylesheet">
      <!--=======================================  CSS  ====================================================-->
      <link rel="stylesheet" type="text/css" href="stylesheets/util.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/mainFrontPage.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/createAcc.css">
      <!--=======================================  DATEPICKER  ==============================================-->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
      <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
      <!--===============================================================================================-->


</head>

<body>

      <div class="limiter">
            <div class="container-login100">


                  <div class="wrap-login100">

                        <span class="aboutUs-form-title">
                              About Us
                        </span>

                        <p>about us information</p>

                  </div>
            </div>
      </div>

      <!--=======================================  JAVASCRIPT  ==============================================-->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
      <script type="text/javascript" src="javascripts/frontPage.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>

</body>

</html>